button, .button {
    font-family: inherit; /* For all browsers */
    font-size: 100%; /* For all browsers */
    line-height: 1.15; /* For all browsers */
    margin: 0; /* Firefox and Safari have margin */
    overflow: visible; /* Edge hides overflow */
    text-transform: none; /* Firefox inherits text-transform */
    -webkit-appearance: button; /* Safari otherwise prevents some styles */
    bottom: 0;
    background-color: $color-green-dark;
    border: none;
    padding: var(--size-sm) var(--size-md);
    color: $color-green-light;
    padding: var(--space-md) var(--space-lg);
    text-transform: uppercase;
    &:active{
      transform: scale(0.98)
    }
    &:focus{
      outline: none;
      box-shadow: 0 0 0 3px $color-green
    }
  }
  
  button::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  @media (hover: hover){
    button:hover{        
            color: $color-green-light;    
            background-color: color-green-bright;
        }
    }
  a:focus{
    outline: none;
    // box-shadow: 0 0 0 3px $color-green
  }