@import url("https://use.typekit.com/ryj5vrb.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

$din: urw-din-semi-condensed, sans-serif;
$poppins: Poppins, sans-serif;
$modish: modish, serif;