.cover{
    &__masthead{
        & svg:first-child{
            color: $color-green-light;
            display: block;
        }
        & svg:last-child{
            color: red;
            display: block;
            margin: 0 auto;
            margin-top: -10%;
            width: 50%;
        }
    }
}