@mixin break($point){

    @if $point == desktop {
        @media (min-width : 60em){
            @content;
        }
    }

    @if $point == tablet {

        @media (min-width: 40em){
            @content;
        }

    }

    @if $point  ==  mobile {
        @media (min-width: 20em){
            @content
        }
    }
    
}