.nav-bar{
    align-items: center;
    align-self: start;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    left: 0;
    position: fixed;
    padding: var(--space-md);
    top: 0;
    width: 100%;    
    &__nav-items{
    background-color: $color-green-bright;
    background-image: url('https://res.cloudinary.com/makingthings/image/upload/v1597253093/yoga/vector.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
    &[hidden="hidden"]{
        display: none;
    }    
}
&__nav-item{
    font-size: var(--text-lg);
    text-align: center;
    display: block;
}
}


.masthead{
    flex: 0 50vw;
    & figure svg{
        color: $color-green;
    }
    & figure svg:last-child{
        width: 50%;
        margin: -10% 0;
        color: $color-gray-dark;

    }
}

.toggle-nav{
    margin-left: auto;
    position: relative;
    z-index: 2;
}


