@mixin border($color){
    border: 2px solid $color;
}
.sr-only{
    clip-path: rect(1px, 1px, 1px, 1px,) ;
    clip-path: rect(1px 1px 1px 1px);
    height: 0;
    overflow: hidden;
    position: absolute !important;
    width: 0;
}

[x-cloak=""]{
    display: none;
}

@media screen and (max-width: 768px) {
    [x-cloak="mobile"] { display: block; }
}