@mixin border($color){
    border: 2px solid $color;
}
.sr-only{
    clip-path: rect(1px, 1px, 1px, 1px,) ;
    clip-path: rect(1px 1px 1px 1px);
    height: 0;
    overflow: hidden;
    position: absolute !important;
    width: 0;
}

[x-cloak=""]{
    display: none;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    @include respond(tablet){
        transform: translateY(-100%);
        transition: all 0.4s ease;
        &.visible{
            transform: translateY(0%);            
        }

    }
    
}

@media screen and (max-width: 768px) {
    [x-cloak="mobile"] { display: block; }
}