@import 'colors';
@import 'grid';
@import 'footer';
@import 'text-scale';
@import 'space';
@import 'header';
@import 'space';
@import 'fonts';
@import 'nav-bar';
@import 'utilities';
@import 'icon';
@import 'button';


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

*,*:before,*:after{
    box-sizing: border-box;
}

html{
    box-sizing: inherit;

}

html,body{
    height: 100%;
}

body{
    font-kerning: auto;
    background-color: $color-gray-light;
    font-family: $poppins;
    font-size: var(--text-base-size);
}

svg{
    display: block;
    width: 100%;
}

.wrapper{
    background-color:teal;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;    
}

.main{
    flex: 0 var(--grid-gutter);
    height: 50%;
    @include border(pink);   
}

footer{
    grid-row: 2 / 3
    border
}