$letter-spacing: 0.2em;


@import 'media-queries';
@import 'colors';
@import 'grid';
@import 'footer';
@import 'text-scale';
@import 'space';
@import 'header';
@import 'space';
@import 'fonts';
@import 'nav-bar';
@import 'utilities';
@import 'icon';
@import 'button';



*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

*,*:before,*:after{
    box-sizing: border-box;
}

html{
    box-sizing: inherit;

}

html,body{
    height: 100%;
}

body{
    font-kerning: auto;
    background-color: $color-gray-light;
    font-family: $poppins;
    font-size: var(--text-base-size);
}

svg{
    display: block;
    width: 100%;
}

.wrapper{
    background-color:teal;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;    
}

.main{
    flex: 0 var(--grid-gutter);
    height: 50%;
    @include border(pink);   
}

footer{
    grid-row: 2 / 3
    border
}

a, .link{
    color: $color-green-dark;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    position: relative;
    width: 100%;
}
.link{
    &:before{
        position: absolute;
        display: block;
        content: "";
        background-color: $color-green-dark;
        width: 100%;
        height: 20%;
        top: 105%;
        left: 50%;
        transform: translateX(-52%) scaleX(0);
        transform-origin: center;
        transition: all 0.2s ease;

    }
    &:hover:before{
        @media (hover: hover){
        transform: translateX(-52%) scaleX(1)
    }
    }
}